@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter";
  overflow-x: hidden;
}

:root {
  --subtitle-color-text: #333333;
  --subtitle-color-text--selected: #000;
}

.credit {
  border: 2px solid red;
  padding: 5px;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.credit__header {
  border: 2px solid blue;
  padding: 5px;
  width: 100%;
}

.credit__header h1 {
  border: 2px solid green;
  font-size: 2.5vmax;
  font-weight: 600;
  padding: 5px;
}

.credit__nav {
  border: 2px solid green;
  padding: 5px;
}

.credit__list {
  border: 2px solid red;
  width: 25%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.list__item {
  list-style: none;
  font-size: 1.2vmax;
  cursor: pointer;
  color: var(--subtitle-color-text);
  transition: color 0.5s ease, font-weight 0.5s ease;
}

.list__item--selected {
  color: var(--subtitle-color-text--selected);
  font-weight: 500;
}

.credit__dashboard {
  border: 2px solid blue;
  padding: 5px;
}

.dashboard__header {
  border: 2px solid green;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.dashboard__button {
  background: #191919;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  width: 15%;
  height: 5vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  transition: background 0.5s ease, transform 0.5s ease;
}

.dashboard__button:hover {
  background: #000;
  transform: scale(1.02);
}

.dashboard__icon {
  width: 20px;
  height: 20px;
}

.dashboard h3 {
  font-size: 1.2vmax;
}

.dashboard {
  border: 2px solid green;
}
